#matchesPlayed {
    min-width: 310px;
    height: 400px;
    margin: 0 auto";

}

#wonByTeam {
    min-width: 310px;
    height: 400px;
    margin: 0 auto";

}

#extraRuns {
    min-width: 310px;
    height: 400px;
    margin: 0 auto";

}

#topBolwer {
    min-width: 310px;
    height: 400px;
    margin: 0 auto";

}